# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Android / Bubblewrap
.gradle/
app/
build/
gradle/
gradlew
gradlew.bat
gradle.properties
settings.gradle
build.gradle
manifest-checksum.txt
*.apk
*.aab
*.idsig
*.keystore
store_icon.png

